#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

.viewer {
    padding: 0;
    margin: 0;
}

model-viewer {
    flex-basis: 1;
    min-width: 400px;
    min-height: 400px;
}